
@{
    //var headerSlider = ViewBag.HeaderSlider as IEnumerable<HeaderSliderDto>;
}


<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex align-items-center store-feature">
                <div class="store-feature-icon"><i class="fa-regular fa-star"></i></div>
                <div class="ms-2">
                    <span class="h-6 fw-700 d-block">Free Delivery</span>
                    <span class="d-block">Free shipping on specific order</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex align-items-center store-feature">
                <div class="store-feature-icon"><i class="fa-regular fa-star"></i></div>
                <div class="ms-2">
                    <span class="h-6 fw-700 d-block">Online Support 24/7</span>
                    <span class="d-block">Get quick and easy support</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex align-items-center store-feature">
                <div class="store-feature-icon"><i class="fa-regular fa-star"></i></div>
                <div class="ms-2">
                    <span class="h-6 fw-700 d-block">Money Return</span>
                    <span class="d-block">Free shipping on specific order</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex align-items-center store-feature">
                <div class="store-feature-icon"><i class="fa-regular fa-star"></i></div>
                <div class="ms-2">
                    <span class="h-6 fw-700 d-block">Get Discount</span>
                    <span class="d-block">Free shipping on specific order</span>
                </div>
            </div>
        </div>

    </div>
</div>